.modal {
  position: fixed; 
  display: none; 
  width: 70%; 
  height: 70%;  
  z-index: 100;
  background: white; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px; 
  margin-left: 15%; 
  margin-right: 15%;
  justify-content: center;
}

.modal_content {
  padding: 20px; 
  border-radius: 8px; 
  margin: 10px; 
  font-size: 20px;
}

.modal_content img {
  height: 200px;
  border: 1px solid black; 
  border-radius: 5px;
  padding: 4px; 
}


.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}